@font-face {
font-family: 'Lovelo';
src: url("Fonts/Lovelo-Black.ttf");
}
@font-face {
font-family: 'OpenSans';
src: url("Fonts/OpenSans-Light.ttf");
}

* {
	margin: 0;
	padding: 0;
}
.slider {
	width: 100%;
}

.slider-wrapper {
	width: 100%;
	height: 640px;
	position: relative;
}

.slide {
	float: left;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s ;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
    
}

.navbar{
    top: 0;
    width: 100%;
    height:60px;
    position: fixed;
    background: transparent;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #999;
    transition: 0.1s ease 0s;
}
.solid{
    background: #fff;
    transition: 0.4s ease 0s;
    border: none;
}

.logo{
    margin-left: -100px;
}
a{
    text-decoration: none;
    color: #fff;
}
.navbarmenu {
    display: flex;
}
.navbarmenu a{
    font-family: 'Lovelo',sans-serif;
    font-size: 14px;
    color: #999;
    margin: 10px;
}
.navbarmenu a:hover{
    color: #fff;
    transition: 0.5s;
}
.navbarmenu>a:first-child{
    color: #fff;
}
.solid a:first-child{
    color: #ea2839;
}
.solid a:hover{
    color: #ea2839;
}
.navbarmenu>a{
    line-height: 60px;
}
.gamesmenu{
    width: 80%;
    height: 250px;
    margin-left: -55%;
    margin-top: 4.5%;
    background: #fff;
    position: absolute; 
    z-index: 10;
    display: none;
} 
.gamesmenubutton:hover + .gamesmenu {
    display: flex;
}
.gamesmenu:hover{
    display: flex;
}
.games{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-left: 40px;
}
.games a{
    font-family: 'OpenSans', sans-serif;
    font-size: 12px;
    line-height: 26px;
    margin: 0;
    padding-left: 10px;
    transition: 1s;
    animation: slidein 0.5s ease-out forwards;
}
.games a:first-child{
    font-family: 'Lovelo', sans-serif;
    font-size: 12px;
    color: #1c1c1c;
    margin: 30px 0 10px 0;
}
.games a:hover{
    background: #ea2839;
    transition: 0s;
}
.games a:first-child:hover{
    background: transparent;
    color: #ea2839;
}
.campaigns{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 40px;
}
.campaigns a{
    font-family: 'OpenSans', sans-serif;
    font-size: 12px;
    line-height: 26px;
    margin: 0;
    padding-left: 10px;
    transition: 1s;
    animation: slidein 0.5s ease-out forwards;
}
.campaigns a:first-child{
    font-family: 'Lovelo', sans-serif;
    font-size: 12px;
    color: #1c1c1c;
    margin: 30px 0 10px 0;
}
.campaigns a:hover{
    background: #ea2839;
    transition: 0s;
}
.campaigns a:first-child:hover{
    background: transparent;
    color: #ea2839;
}
.aboutmenu{
    width: 16%;
    height: 60px;
    margin-left: 13%;
    margin-top: 4.5%;
    background: #fff;
    position: absolute; 
    z-index: 10;
    display: none;
}
.aboutmenu a{
    width: 100%;
    font-family: 'OpenSans',sans-serif;
    font-size: 12px;
    color: #999;
    padding: 10px 20px;
    transition: 1s;
    animation: slidein 0.5s ease-out forwards;
}
.aboutmenu a:hover{
    background: #ea2839;
    color: #fff;
    transition: 0s;
}
.aboutmenubutton:hover + .aboutmenu {
    display: flex;
}
.aboutmenu:hover{
    display: flex;
}
@keyframes slidein {
    0% {
        opacity: 0.5;
        transform: translateY(10px);
    }

    50% {
        opacity: 1;
        transform: translateY(0px);
    }
}
.row{
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 1px solid black;
    margin-bottom: 40px;
}
.rowcol{
    background: #ea2839;
    width: 33.33%;
    height: 220px;
    font-family: 'Lovelo',sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 60px 60px;
}
.gray{
    background: #676767;
}
.rowcol p{
    font-family: 'OpenSans', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}
.rowcol a{
    margin-right: auto;
}
.button{
    font-family: 'Lovelo',sans-serif;
    color: #fff;
    border: 2px solid #d1d1d1;
    padding: 10px 20px;
    border-radius: 2px;
    letter-spacing: 2px;
    transition: 0.2s;
}
.button:hover{
    border-color: #fff;
    transition: 0.2s;
}
.feed{
    width: 94%;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    height: 600px;
}
.feed img{
    max-width: 90%;
    margin-bottom: 10px;
}

.feed h3{
    font-family: 'Lovelo',sans-serif;
    color: #ea2839;
}
.feed p{
    font-family: 'OpenSans',sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    max-width: 20%;
    position: absolute;
}
.gamesblock{
    position: relative;
    height: 160px;
    width: 100%;
    background: #555555;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.gamesblock h3{
    font-family: 'OpenSans',sans-serif;
    font-size: 28px;
    margin: 0 20px;
}
.gamestiles{
    display: flex;
    font-family: 'Lovelo',sans-serif;
    letter-spacing: 0.15em;
}




.content {
  position: relative;
  width: 90%;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  bottom: 0;
}

.content .content-overlay {
  background: rgba(234, 40, 57, 0.8);
  position: absolute;
  height: 98.8%;
  width: 100%;

  opacity: 0;
  transition: all 0.2s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
  top: 40%
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.gamesblockafter{
    width: 100%;
    height: 400px;
    background: #000;
    display: flex;
    flex-direction: row;
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gamesblockafter h3{
    font-family: 'Lovelo',sans-serif;
    font-size: 52px;
    line-height: 58px;
    color: #fff;
    margin: 30px 0;
}
.copyright{
    background: #1c1c1c;
    color: #777;
    font-family: 'OpenSans',sans-serif;
    font-size: 12px;
}
.social{
    width: 100%;
    height: 750px;
    background: #252525;
    display: flex;
    justify-content: center;
}
.social p{
    font-family: 'Lovelo',sans-serif;
    letter-spacing: 0.15em;
    font-size: 14px;
    color: #777;
    margin: 25px;
}
.twitter{
    margin: 40px 0;
}
.news{
    width: 400px;
    margin: 40px 0;
}
.twitter p{
    margin-left: 0;
}
.news  div > div{
    border-bottom: 1px #444 solid;
    margin: 20px;
    padding: 5px;
}
.news img{
    border-radius: 6px;
    max-width: 65px;
    max-height: 65px;
}
.news a{
    display: flex;
}
.newsblocks{
    font-family: 'OpenSans',sans-serif;
    letter-spacing: 0.05em; 
}
.newsblock{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
}
.newsblock h5{
    transition: 0.4s;
}
.newsblock h4{
    transition: 0.4s;
    transition-delay: 0.3s;
}
.newsblock:hover h5{
    color: #ea2839;
    transition: 0.4s;
}
.newsblock:hover h4{
    color: #ea2839;
    transition: 0.4s;
    transition-delay: 0.3s;
}
.about{
    margin: 40px 0;
}
.abouttext{
    height: 400px;
    width: 400px;
}
.abouttext p{
    font-family: 'OpenSans',sans-serif;
    letter-spacing: 0.05em;
}
.copyright p{
    padding: 20px 90px;
    margin: 0 50px;
}
#scroll {
    position:fixed;
    right:15px;
    bottom:20px;
    width:30px;
    height:30px;
    background-color: #676767;
    opacity: 0.5;
    z-index: 10;
    display:none;
    border-radius:4px
}
#scroll span {
    position:absolute;
    top:50%;
    left:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height:0;
    width:0;
}
#scroll:hover {
    background-color:#ea2839;
    opacity:1;filter:"alpha(opacity=100)";
}
@media screen and (max-width:1025px){
    .logo img{
        width: 300px;
        margin-left: 100px;
    }
    .slider-wrapper{
        max-height: 400px;
        width: 100vw;
    }
    .feed{
        padding: 20px;
    }
    .news div > div{
        margin: 10px;
    }
        .feed p{
        font-size: 10px;
    }
        .rowcol{
        padding: 30px 30px;
        font-size: 14px;
    }
}
@media screen and (max-width:769px){
    .abouttext{
        width: 350px;
    }
    .newsblocks{
        font-size: 12px;
    }
    .gamesblockafter h3{
        margin-left: 40px;
    }
    .rowcol{
        padding: 10px 20px;
        height: 275px;
    }
    .rowcol h2{
        font-size: 16px;
    }
    .rowcol p{
        margin-bottom: 10px;
    }

}
@media screen and (max-width:600px){
    .navbar div > a{
        display: none;
    }
    .button{
        font-size: 12px;
        padding: 5px 10px;
    }
    .slider-wrapper{
        max-height: 250px;
        width: 100vw;
    }
    .rowcol{
        height: 300px;
    }
    .rowcol p{
        font-size: 12px;
    }
    .feed{
        flex-direction: column;
        height: 100%;
        padding-right: 0;
    }
    .feed h3{
        max-width: 94%;
    }
    .feed p{
        max-width: 90%;
        position: relative;
        margin-bottom: 20px;
    }
        .abouttext{
        width: 100%;
    }
    .social{
        height: 100%;
    }
    .abouttext p{
        font-size: 12px;
    }
}
@media screen and (max-width:415px){
    .navbar div > a{
        display: none;
    }
    .slider-wrapper{
        max-height: 200px;
    }
    .row{
        flex-direction: column;
        margin:0;
    }
    .rowcol{
        width: calc(100% - 40px);
        height: 200px;
    }
    .navbar{
        width: 100vw;
    }
    .gamestiles{
        flex-direction: column;
    }
    .content{
        margin:0 0 -5px 0;
        width: 100%;
    }
    
    .social{
        flex-direction: column;
    }
    .twitter{
        height: 350px;
        padding-bottom: 150px;
    }
    .twitter p{
        margin: 20px 20px;
    }
        .abouttext p{
        font-size: 14px;
    }
    #scroll {
        margin-right: 10px;
    }
    .copyright p{
        padding: 20px 40px;
        margin: 0 20px;
    }
}
    @media screen and (max-width:376px)
    {
        .news {
            width: 100vw;
        }
    }
    @media screen and (max-width:321px){
        .gamesblock h3{
            font-size: 24px;
        }
        .abouttext p{
            font-size: 13px;
        }
    }
}